.profile-img {
    float: left;
    width: 120px;
    height: 120px;
    object-fit: cover;
    margin: 20px 22px 10px 0;
    box-shadow: 0px 4px 5px #888;
    border-radius: 50%;
}

.profile-row {
    margin-bottom: 50px;
}

.publication {
    padding-bottom: 1.5em;
}

.news-item {
    padding-bottom: 1em;
}

.dataset-row {
    background: #eee;
    border-radius: 15px;
    min-height: 150px;
    cursor: pointer;
    margin-bottom: 20px;
}

.dataset-row:hover {
    box-shadow: 0px 2px 8px #888
}

.dataset-img {
    float: left;
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 10%;
    margin: 15px;
}

.dataset-title {
 font-weight: bold;
 font-size: 20px;
 padding: 15px;
}

.dataset-description {
    margin: 0 15px;
    padding-bottom: 15px;
}

.dataset-contributors {
    text-align: center;
    padding: 15px;
}

.github-card {
    margin: 7px 19px;
}

.carousel-indicators {
    bottom: -10px;
}

.carousel-indicators li {
    background-color: #aaa;
    border: 0px;
    transition: all ease-in-out 0.6s;
    width: 40px;
    height: 10px;
    margin: 0px;
}
.carousel-indicators .active{
    background-color: #444;
    border: 0px;
    width: 10px;
    height: 10px;
}

#main-page-background {
    background-image: url(../images/mainpic/allen_center_compressed.jpg);
    background-position: center;
    background-size: cover;
    height: 50vh;
    position: relative;
    top: -17px;
}

.navbar {
    border: 0px;
}